<h1>show screen</h1>

<p>
  name: <%= @todo.name%>
</p>

<p>
  description: <%=@todo.description %>
</p>

<%= link_to"Edit this todo", edit_todo_path(@todo)%>
<%= link_to"Back to todos lisi", todos_path %>